html {
  font-size: 65%;
}
body {
  position: relative;
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
}

#listing {
  display: block;
  width: 60vw;
  margin-left: 10vw;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#banner {
  position: relative;
  font-size: 1.5rem;
}
#photo {
  position: relative;
  font-size: 1.5rem;
}

#booking {
  position: sticky;
  top: -20px;
  width: 100%;
  margin-top: -80px;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.placeholder {
  position: relative;
  margin-top: 500px;
  display: block;
  height: 800px;
  z-index: -1;
}
